@{
    Layout = "_Layout";

}
<!DOCTYPE html>

<head>
    <title>Async Inn</title>
</head>

<body>
    <header>
        <h1>Async Inn</h1>
    </header>
    <main id="index-body">
        <h1>Welcome to the Async Inn</h1>

        <h2>Would you like to see the hotels?</h2>
        <a href="/Hotel">Hotels</a>
    </main>
</body>
