@import url("layout.css");

#index-body {
    color: white;
    text-align: center;
    margin-top: 100px;
}

#index-body a {
    font-size: 30px;
    color: white;

}

img {
    width: 200px;
}

main h3 {
    font-size: 50px;
}

/*singlehotel*/
#pickedHotel {
    text-align:center;
}
